.body_backgorund {
    background-image: url("https://thumbs.dreamstime.com/z/autumn-art-background-leaves-frame-34325170.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(101, 241, 101); 
      border-style: dashed;
      border-color: red;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  